.alert-success {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background-color: rgb(25, 141, 27);
    width: 400px;
    height: 100px;
}